# Локальная Postgres строка подключения
# пример:
# DATABASE_URL=postgres://postgres:postgres@localhost:5432/mygame
DATABASE_URL=

# Порт локального API
PORT=5174

# Идентификатор слота сохранения (для одного игрока оставь local)
SAVE_ID=local
